{# src/Bcarmard/TestIAdvizeBundle/Resources/views/ApiVdm/index.html.twig #}

{% extends "BcarmardTestIAdvizeBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block contenu %}
    {{ parent() }}

    <div class="jumbotron">
        <h1>Test dev Php IAdvize Bcarmard </h1>
        <p>Merci à vous pour l'attention portée à ma candidature</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="{{path('bcarmard_apivdm_load')}}">Charger les 200 dernières Vdm »</a>
        </p>
    </div>
        <h4>Voici les Vdm actuellement stockées en base de données, merci de cliquer sur le bouton ci-dessus si votre base de données est vide :</h4>
    <br>
    {% for vdm in result %}
        <dl class="dl-horizontal" >
            <dt>N° : </dt>
            <dd>{{ vdm.id}}</dd>
            <dt>Contenu :</dt>
            <dd>{{ vdm.contenu }}</dd>
            <dt>Auteur :</dt>
            <dd>{{ vdm.auteur }}</dd> 
            <dt>Date :</dt>
            <dd>{{ vdm.date|date("d/m/Y") }} </dd>
        </dl>
        <br>
    {% endfor %}


{% endblock %}